
*.cache
*.force
SourceCode/.vs/BuffalobroCode2019/v16/Server/sqlite3/storage.ide-wal
SourceCode/.vs/BuffalobroCode2019/v16/Server/sqlite3/storage.ide-shm
SourceCode/.vs/BuffalobroCode2019/v16/Server/sqlite3/storage.ide
SourceCode/.vs/BuffalobroCode2019/v16/Server/sqlite3/db.lock
SourceCode/.vs/BuffalobroCode2019/v16/.suo
SourceCode/Buffalo.ArgCommon/obj/Release/Buffalo.ArgCommon.dll
SourceCode/Buffalo.ArgCommon/obj/Release/Buffalo.ArgCommon.pdb
SourceCode/Buffalo.ArgCommon/obj/Release/Buffalo2019.ArgCommon.csproj.CopyComplete
SourceCode/Buffalo.ArgCommon/obj/Release/Buffalo2019.ArgCommon.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.DB2/obj/Release/Buffalo.Data.DB2.dll
SourceCode/Buffalo.Data.DB2/obj/Release/Buffalo.Data.DB2.pdb
SourceCode/Buffalo.Data.DB2/obj/Release/Buffalo2019.Data.DB2.csproj.CopyComplete
SourceCode/Buffalo.Data.DB2/obj/Release/Buffalo2019.Data.DB2.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.MySQL/obj/Release/Buffalo.Data.MySQL.dll
SourceCode/Buffalo.Data.MySQL/obj/Release/Buffalo.Data.MySQL.pdb
SourceCode/Buffalo.Data.MySQL/obj/Release/Buffalo2019.Data.MySQL.csproj.CopyComplete
SourceCode/Buffalo.Data.MySQL/obj/Release/Buffalo2019.Data.MySQL.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle11.csproj.CopyComplete
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle11.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle11.X64.csproj.CopyComplete
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle11.X64.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle12.csproj.CopyComplete
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle12.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle12.X64.csproj.CopyComplete
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo2019.Data.Oracle12.X64.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo.Data.Oracle11.dll
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo.Data.Oracle11.pdb
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo.Data.Oracle12.dll
SourceCode/Buffalo.Data.Oracle12/obj/Release/Buffalo.Data.Oracle12.pdb
SourceCode/Buffalo.Data.PostgreSQL/obj/Release/Buffalo.Data.PostgreSQL.dll
SourceCode/Buffalo.Data.PostgreSQL/obj/Release/Buffalo.Data.PostgreSQL.pdb
SourceCode/Buffalo.Data.SQLite/obj/Release/Buffalo.Data.SQLite.dll
SourceCode/Buffalo.Data.SQLite/obj/Release/Buffalo.Data.SQLite.pdb
SourceCode/Buffalo.Data.SQLite/obj/Release/Buffalo2019.Data.SQLite.csproj.CopyComplete
SourceCode/Buffalo.Data.SQLite/obj/Release/Buffalo2019.Data.SQLite.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Data.PostgreSQL/obj/Release/Buffalo2019.Data.PostgreSQL.csproj.CopyComplete
SourceCode/Buffalo.Data.PostgreSQL/obj/Release/Buffalo2019.Data.PostgreSQL.csproj.FileListAbsolute.txt
SourceCode/Buffalo.DB/obj/Release/Buffalo.DB.dll
SourceCode/Buffalo.DB/obj/Release/Buffalo.DB.pdb
SourceCode/Buffalo.DB/obj/Release/Buffalo.DB.Resource.resources
SourceCode/Buffalo.DB/obj/Release/Buffalo2019.DB.csproj.CopyComplete
SourceCode/Buffalo.DB/obj/Release/Buffalo2019.DB.csproj.FileListAbsolute.txt
SourceCode/Buffalo.DB/obj/Release/TempPE/Resource.Designer.cs.dll
SourceCode/Buffalo.GeneratorInfo/obj/Release/Buffalo.GeneratorInfo.dll
SourceCode/Buffalo.GeneratorInfo/obj/Release/Buffalo.GeneratorInfo.pdb
SourceCode/Buffalo.GeneratorInfo/obj/Release/Buffalo2019.GeneratorInfo.csproj.CopyComplete
SourceCode/Buffalo.GeneratorInfo/obj/Release/Buffalo2019.GeneratorInfo.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Kernel/obj/Release/Buffalo.Kernel.dll
SourceCode/Buffalo.Kernel/obj/Release/Buffalo.Kernel.pdb
SourceCode/Buffalo.Kernel/obj/Release/Buffalo2019.Kernel.csproj.CopyComplete
SourceCode/Buffalo.Kernel/obj/Release/Buffalo2019.Kernel.csproj.FileListAbsolute.txt
SourceCode/Buffalo.QueryCache/obj/Release/Buffalo.QueryCache.dll
SourceCode/Buffalo.QueryCache/obj/Release/Buffalo.QueryCache.pdb
SourceCode/Buffalo.QueryCache/obj/Release/Buffalo2019.QueryCache.csproj.CopyComplete
SourceCode/Buffalo.QueryCache/obj/Release/Buffalo2019.QueryCache.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Storage/obj/Release/Buffalo.Storage.dll
SourceCode/Buffalo.Storage/obj/Release/Buffalo.Storage.pdb
SourceCode/Buffalo.Storage/obj/Release/TempPE/Properties.OssResources.Designer.cs.dll
SourceCode/Buffalo.Storage/obj/Release/TempPE/Properties.Resource.Designer.cs.dll
SourceCode/Buffalo.Storage/obj/Release/Buffalo2019.Storage.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Storage/obj/Release/Buffalo2019.Storage.csproj.CopyComplete
SourceCode/Buffalo.Storage/obj/Release/Buffalo.Storage.Properties.Resource.resources
SourceCode/Buffalo.Storage/obj/Release/Buffalo.Storage.Properties.OssResources.resources
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo.Win32Kernel.Properties.Resources.resources
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo.Win32Kernel.Resource.resources
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo.Win32Kernel.ScreenLibrary.ScreenWnd.resources
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo.Win32Kernel.SingleForms.resources
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo2019.Win32Kernel.csproj.CopyComplete
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo2019.Win32Kernel.csproj.FileListAbsolute.txt
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.Editors.CheckBoxEditor.resources
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.Editors.ComboBoxEditor.resources
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.Editors.OnOffCheckBox.resources
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.Editors.TextBoxEditor.resources
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.PagingBar.MediumPagingBar.resources
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.PagingBar.PagingBar.resources
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.pdb
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.Properties.Resources.resources
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo2019.WinFormsControl.csproj.CopyComplete
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo2019.WinFormsControl.csproj.FileListAbsolute.txt
SourceCode/Release/2019/Buffalo.ArgCommon.dll
SourceCode/Release/2019/Buffalo.ArgCommon.pdb
SourceCode/Release/2019/Buffalo.ArgCommon.xml
SourceCode/Release/2019/Buffalo.Data.DB2.dll
SourceCode/Release/2019/Buffalo.Data.DB2.pdb
SourceCode/Release/2019/Buffalo.Data.DB2.XML
SourceCode/Release/2019/Buffalo.Data.MySQL.dll
SourceCode/Release/2019/Buffalo.Data.MySQL.pdb
SourceCode/Release/2019/Buffalo.Data.MySQL.XML
SourceCode/Release/2019/Buffalo.Data.PostgreSQL.dll
SourceCode/Release/2019/Buffalo.Data.PostgreSQL.pdb
SourceCode/Release/2019/Buffalo.Data.PostgreSQL.XML
SourceCode/Release/2019/Buffalo.Data.SQLite.dll
SourceCode/Release/2019/Buffalo.Data.SQLite.pdb
SourceCode/Release/2019/Buffalo.Data.SQLite.XML
SourceCode/Release/2019/Buffalo.DB.dll
SourceCode/Release/2019/Buffalo.DB.pdb
SourceCode/Release/2019/Buffalo.DB.XML
SourceCode/Release/2019/Buffalo.GeneratorInfo.dll
SourceCode/Release/2019/Buffalo.GeneratorInfo.pdb
SourceCode/Release/2019/Buffalo.GeneratorInfo.XML
SourceCode/Release/2019/Buffalo.Kernel.dll
SourceCode/Release/2019/Buffalo.Kernel.pdb
SourceCode/Release/2019/Buffalo.Kernel.XML
SourceCode/Release/2019/Buffalo.QueryCache.dll
SourceCode/Release/2019/Buffalo.QueryCache.pdb
SourceCode/Release/2019/Buffalo.QueryCache.xml
SourceCode/Release/2019/Buffalo.Storage.dll
SourceCode/Release/2019/Buffalo.Storage.pdb
SourceCode/Release/2019/Buffalo.Storage.xml
SourceCode/Release/2019/Buffalo.WebKernel.dll
SourceCode/Release/2019/Buffalo.WebKernel.pdb
SourceCode/Release/2019/Buffalo.WebKernel.XML
SourceCode/Release/2019/Buffalo.Win32Kernel.dll
SourceCode/Release/2019/Buffalo.Win32Kernel.pdb
SourceCode/Release/2019/Buffalo.Win32Kernel.XML
SourceCode/Release/2019/Buffalo.WinFormsControl.dll
SourceCode/Release/2019/Buffalo.WinFormsControl.pdb
SourceCode/Release/2019/Buffalo.WinFormsControl.XML
SourceCode/Release/2019/Enyim.Caching.dll
SourceCode/Release/2019/Enyim.Caching.xml
SourceCode/Release/2019/IBM.Data.DB2.dll
SourceCode/Release/2019/ICSharpCode.SharpZipLib.dll
SourceCode/Release/2019/ICSharpCode.SharpZipLib.xml
SourceCode/Release/2019/MySql.Data.dll
SourceCode/Release/2019/MySql.Data.xml
SourceCode/Release/2019/Newtonsoft.Json.dll
SourceCode/Release/2019/Newtonsoft.Json.xml
SourceCode/Release/2019/Npgsql.dll
SourceCode/Release/2019/Npgsql.xml
SourceCode/Release/2019/Oracle11/Buffalo.ArgCommon.dll
SourceCode/Release/2019/Oracle11/Buffalo.ArgCommon.pdb
SourceCode/Release/2019/Oracle11/Buffalo.ArgCommon.xml
SourceCode/Release/2019/Oracle11/Buffalo.Data.Oracle11.dll
SourceCode/Release/2019/Oracle11/Buffalo.Data.Oracle11.pdb
SourceCode/Release/2019/Oracle11/Buffalo.Data.Oracle11.XML
SourceCode/Release/2019/Oracle11/Buffalo.DB.dll
SourceCode/Release/2019/Oracle11/Buffalo.DB.pdb
SourceCode/Release/2019/Oracle11/Buffalo.DB.xml
SourceCode/Release/2019/Oracle11/Buffalo.Kernel.dll
SourceCode/Release/2019/Oracle11/Buffalo.Kernel.pdb
SourceCode/Release/2019/Oracle11/Buffalo.Kernel.xml
SourceCode/Release/2019/Oracle11/Newtonsoft.Json.dll
SourceCode/Release/2019/Oracle11/Newtonsoft.Json.xml
SourceCode/Release/2019/Oracle11/Oracle.DataAccess.dll
SourceCode/Release/2019/Oracle11/X64/Buffalo.ArgCommon.dll
SourceCode/Release/2019/Oracle11/X64/Buffalo.ArgCommon.pdb
SourceCode/Release/2019/Oracle11/X64/Buffalo.ArgCommon.xml
SourceCode/Release/2019/Oracle11/X64/Buffalo.Data.Oracle11.dll
SourceCode/Release/2019/Oracle11/X64/Buffalo.Data.Oracle11.pdb
SourceCode/Release/2019/Oracle11/X64/Buffalo.Data.Oracle11.XML
SourceCode/Release/2019/Oracle11/X64/Buffalo.DB.dll
SourceCode/Release/2019/Oracle11/X64/Buffalo.DB.pdb
SourceCode/Release/2019/Oracle11/X64/Buffalo.DB.xml
SourceCode/Release/2019/Oracle11/X64/Buffalo.Kernel.dll
SourceCode/Release/2019/Oracle11/X64/Buffalo.Kernel.pdb
SourceCode/Release/2019/Oracle11/X64/Buffalo.Kernel.xml
SourceCode/Release/2019/Oracle11/X64/Newtonsoft.Json.dll
SourceCode/Release/2019/Oracle11/X64/Newtonsoft.Json.xml
SourceCode/Release/2019/Oracle11/X64/Oracle.DataAccess.dll
SourceCode/Release/2019/Oracle12/Buffalo.ArgCommon.dll
SourceCode/Release/2019/Oracle12/Buffalo.ArgCommon.pdb
SourceCode/Release/2019/Oracle12/Buffalo.ArgCommon.xml
SourceCode/Release/2019/Oracle12/Buffalo.Data.Oracle12.dll
SourceCode/Release/2019/Oracle12/Buffalo.Data.Oracle12.pdb
SourceCode/Release/2019/Oracle12/Buffalo.Data.Oracle12.XML
SourceCode/Release/2019/Oracle12/Buffalo.DB.dll
SourceCode/Release/2019/Oracle12/Buffalo.DB.pdb
SourceCode/Release/2019/Oracle12/Buffalo.DB.xml
SourceCode/Release/2019/Oracle12/Buffalo.Kernel.dll
SourceCode/Release/2019/Oracle12/Buffalo.Kernel.pdb
SourceCode/Release/2019/Oracle12/Buffalo.Kernel.xml
SourceCode/Release/2019/Oracle12/Newtonsoft.Json.dll
SourceCode/Release/2019/Oracle12/Newtonsoft.Json.xml
SourceCode/Release/2019/Oracle12/Oracle.DataAccess.dll
SourceCode/Release/2019/Oracle12/X64/Buffalo.ArgCommon.dll
SourceCode/Release/2019/Oracle12/X64/Buffalo.ArgCommon.pdb
SourceCode/Release/2019/Oracle12/X64/Buffalo.ArgCommon.xml
SourceCode/Release/2019/Oracle12/X64/Buffalo.Data.Oracle12.dll
SourceCode/Release/2019/Oracle12/X64/Buffalo.Data.Oracle12.pdb
SourceCode/Release/2019/Oracle12/X64/Buffalo.Data.Oracle12.XML
SourceCode/Release/2019/Oracle12/X64/Buffalo.DB.dll
SourceCode/Release/2019/Oracle12/X64/Buffalo.DB.pdb
SourceCode/Release/2019/Oracle12/X64/Buffalo.DB.xml
SourceCode/Release/2019/Oracle12/X64/Buffalo.Kernel.dll
SourceCode/Release/2019/Oracle12/X64/Buffalo.Kernel.pdb
SourceCode/Release/2019/Oracle12/X64/Buffalo.Kernel.xml
SourceCode/Release/2019/Oracle12/X64/Newtonsoft.Json.dll
SourceCode/Release/2019/Oracle12/X64/Newtonsoft.Json.xml
SourceCode/Release/2019/Oracle12/X64/Oracle.DataAccess.dll
SourceCode/Release/2019/StackExchange.Redis.dll
SourceCode/Release/2019/StackExchange.Redis.xml
SourceCode/Release/2019/System.Data.SQLite.dll
SourceCode/Release/2019/System.Data.SQLite.dll.config
SourceCode/Release/2019/System.Data.SQLite.xml
SourceCode/Release/2019/System.dll
SourceCode/Release/2019/System.Memory.dll
SourceCode/Buffalo.WebKernel/obj/Release/Buffalo.WebKernel.ARTDialogReource.resources
SourceCode/Buffalo.WebKernel/obj/Release/Buffalo.WebKernel.dll
SourceCode/Buffalo.WebKernel/obj/Release/Buffalo.WebKernel.pdb
SourceCode/Buffalo.WebKernel/obj/Release/Buffalo2019.WebKernel.csproj.CopyComplete
SourceCode/Buffalo.WebKernel/obj/Release/Buffalo2019.WebKernel.csproj.FileListAbsolute.txt
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo.Win32Kernel.dll
SourceCode/Buffalo.Win32Kernel/obj/Release/Buffalo.Win32Kernel.pdb
SourceCode/Buffalo.WinFormsControl/obj/Release/Buffalo.WinFormsControl.dll
