<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Update.Config" value="http://svn.code.sf.net/p/buffalobro/svn/BuffaloSetup/AddInConfig.xml"/>
    <add key="App.TechVedio" value="https://sourceforge.net/p/buffalobro/wiki/TechVedio/"/>
    <add key="App.Index" value="https://sourceforge.net/projects/buffalobro/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
